<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html;" charset="UTF-8">
        <title><%= title %></title>
    </head>

    <body>
        <head>
            <h1><%= title %></h1>
        </head>
        <h2><%= loginMsg %></h2>

        <div role="main">
            <p><%= content %></p>
            <form method="post" action="/user/login">
                <table>
                    <tr>
                        <th>NAME</th>
                        <td><input type="text" name="name" value="<%= form.name %>"></td>
                    </tr>
                    <tr>
                        <th>PASSWORD</th>
                        <td><input type="password" name="password" value="<%= form.password %>"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><input type="submit" value="ログイン"></td>
                    </tr>
                </table>
            </form>
            <p>
                <a href="/">&lt;&lt; Top へ戻る</a>
                <a href="/user/add">アカウントの作成&gt;&gt;</a></p>
            </p>
        </div>
    </body>
</html>